<h2> <%= @gopher_queue.name %> </h2>

<table class="table table-condensed">
	<thead>
		<tr>
			<th> id </th>
			<th> Job </th>
			<th> Added On</th>
			<th> Actions </th>
		<tr>
	</thead>
	<tbody>
		<% @jobs.each do |job| %>
			<tr>
				<td> <%= job.id %> </td>
				<td> <%= job.data %> </td>
				<td> <%= time_ago_in_words(job.created_at) %> </td>
				<td> <%= link_to "Remove from Queue", "#" %> </td>
			</tr>
		<% end %>
	</tbody> 
</table>


<%= link_to "Add a job", "#" %>